[2018-03-12 20:11] mdehavensift opened #3 "No module named 'sbol'"
How does one install the sbol module?

When trying to import query_synbiohub, I get the following error:

[code]

I'm not sure where sbol comes from.

[2018-03-12 20:32] mwes commented on #3
@mdehavensift try installing pySBOL? If you're running on OSX, it should pick up a recent install. We have a custom python 3.5 Ubuntu wheel we are testing here: https://github.com/SD2E/synbiohub_adapter/pull/2 We're close to getting 3.6 to work there, too, which is the targeted python version that Nic and company develop with.

[2018-03-12 20:48] mdehavensift commented on #3
Thanks @mwes

I'm on a linux machine. I was trying to setup with python3, but `pip install pySBOL` doesn't seem to work for me when using python3. It can't find that module. I switched to python2, and it was able to find that module.

Once it is installed however, it ran into problems with libsbol. But I think that's a known issue that Tom Mitchell is working on, right, libsbol not working on linu

[2018-03-12 21:32] mwes commented on #3
Yep, confirm the libsbol issue. Can you try this? it's a custom version Tom built for Ubuntu:
`pip3 install https://github.com/tcmitchell/pySBOL/blob/ubuntu/Ubuntu_16.04_64_3/dist/pySBOL-2.3.0.post11-cp35-none-any.whl?raw=true`
Tom is working on a 3.6 build. Thanks!

[2018-03-13 19:39] mwes commented on #3
@mdehavensift Python 3.6 custom wheel: https://github.com/tcmitchell/pySBOL/blob/ubuntu/Ubuntu_16.04_64_3/dist/pySBOL-2.3.0.post11-cp36-none-any.whl?raw=true

[2018-03-21 17:43] mdehavensift commented on #3
Closing this issue since the wheel file works for Ubuntu 16

[2018-03-21 17:43] #3 closed

[2018-04-26 21:58] liakung1 opened #13 "tab/space standardization?"
Hi all,

I'm new to the project and don't want to rock the boat but noticed that there's some files which use spaces and others that use tabs.  Would it be possible to standardize on one or the other?

In the synbiohub_adapter directory:

    SynBioHubUtil.py  tabs
    cache_query.py  spaces
    elastic.py   spaces
    fetch_SPARQL.py  spaces
    query_synbiohub.py  tabs

If I had a vote, I would

[2018-04-30 19:55] mwes commented on #13
Thanks @liakung1. Spaces has my vote, too.

[2018-05-17 17:29] bjkeller opened #14 "add push_lab_parameter function"
ref: https://sd2e-jira.tacc.utexas.edu/browse/SD2-652

We need to add a function to support TA3s providing lab-parameter values for plans

Proposed usage:

[code]

where `lab_parameter_term` is also used in the provide-request in the identified plan, and corresponds to an SBH predicate.
The function would validate the lab parameter request exists for the sample in the plan and that the value is va

[2018-05-22 11:19] jakebeal opened #15 "Set up CI testing"
We need to have continuous integration validating this software --- travis-ci? (SD2 Jenkins might also be set up, but we'll want something linked with github too)

[2018-06-08 19:20] mwes commented on #14
Building on this, I suggest 2 functions:
`
try:
    push_lab__plan_parameter(
        plan_id=plan_URI,
        parameter=lab_parameter_term,
        value=parameter_value)
except SBHLabParamError:
                ...
`

and

`
try:
    push_lab_sample_parameter(
        sample_uri=sample_id,
        parameter=lab_parameter_term,
        value=parameter_value)
except SBHLabParamError:

[2018-06-11 19:57] nroehner opened #17 "Add Programmatic Upload to generate_sbol.py"
Add programmatic upload to generate_sbol.py by importing the SynBioHub class from upload_sbol.py and calling the submit_to_collection method with the appropriate arguments. Recommend opening a new branch called programmatic_upload.

[2018-06-11 20:23] nroehner opened #18 "Improve Support for Long SPARQL Queries"
All SPARQL queries implemented by the SBOLQuery class of SynBioHubUtil.py are currently run through SPARQLWrapper module (see fetch_SPARQL.py). This fails when applied to large queries that list a large number of objects by their URIs, such as the queries required by upload_sbol.py for checking whether programmatic upload would overwrite objects stored in SynBioHub. The relevant error message is H

[2018-06-25 18:37] bjkeller commented on #14
Initial implementation is done.

Needs:
- object value validation
- some tests

[2018-06-28 15:09] jakebeal opened #25 "sbh:toplevel marker on measures"
When uploading a Measure, add the sbh:toplevel marker so that it will come out in SBOL emitted from SynBioHub.  According to @cjmyers, this is how SynBioHub decides which annotations to include.

[2018-06-28 17:35] cjmyers commented on #25
All child (and top-level) objects must have sbh:topLevel to indicate the parent they are a member of.  Here is the full QName for this annotation:

new QName("http://wiki.synbiohub.org/wiki/Terms/synbiohub#", "topLevel", "sbh")

[2018-06-28 17:37] cjmyers commented on #25
Also, don't forget to add the ownedBy tags too:

new QName("http://wiki.synbiohub.org/wiki/Terms/synbiohub#", "ownedBy", "sbh")

If you are bypassing SBH normal submit procedures I encourage you to look at PrepareSubmissionJob.java in the SBH source to understand what gets done to the SBOL.  We also have a round-trip tester that emulates this process that could be informative as well.

[2018-07-18 10:28] jakebeal opened #28 "Annotate uploads with creator and date/time"
So far as I can tell, our current uploads do not get a timestamp and have no creator information.

We should add these per the best practices in SBOL 2.2.1 Sections 12.7 and 12.8:

[code]

[2018-07-18 15:38] bbartley commented on #28
Doesn't SBH automatically add these annotations to a submission?
    On Wednesday, July 18, 2018, 6:28:59 AM EDT, Jacob Beal <notifications@github.com> wrote:

So far as I can tell, our current uploads do not get a timestamp and have no creator information.

We should add these per the best practices in SBOL 2.2.1 Sections 12.7 and 12.8:
<dcterms:created>DATE_TIME_STRING</dcterms:created>
<dcterms

[2018-07-18 16:04] jakebeal commented on #28
Apparently not through the route we're taking at least... if you look at the SD2 repository, date and creator information doesn't show up on the individual items.

[2018-07-24 15:42] jakebeal opened #31 "Put BioPAX standard types on media components"
The SBOL spec RECOMMENDS that we specify Component types using BioPAX categories, e.g., `http://www.biopax.org/release/biopax-level3.owl#SmallMolecule`

The media sheet should have a column that lets us categorize into these or others such as strain.

[2018-07-26 19:37] tcmitchell opened #32 "Unit tests fail with indentation error"
The offending line is [synbiohub_adapter/query_synbiohub.py line 595](https://github.com/SD2E/synbiohub_adapter/blob/master/synbiohub_adapter/query_synbiohub.py#L595). The file uses tabs for indentation, and this line uses the more common 4 spaces instead.

According to [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces), "Spaces are the preferred inden

[2018-08-15 17:44] #32 closed

[2018-08-17 12:31] jakebeal opened #34 "Make media specifications "dictionary-aware""
Now that we have the SD2 Program Dictionary, the spreadsheet upload for defining media and similar should have a mode in which it is able to link to it to make sure that it's not recreating components or modules that already exist.

[2018-09-12 18:48] mwes opened #36 "Add a wrapped query for a strain's circuit"
I am currently issuing a SPARQL query to get the circuit type from a given strain in SBH:

https://gitlab.sd2e.org/sd2program/etl-pipeline-support/blob/develop/formats/common.py#L220

query = """PREFIX sbol: <http://sbols.org/v2#>
select distinct ?o where {{ <{}> <http://sbols.org/v2#role> ?o }}""".format(strain)

example input: https://hub.sd2e.org/user/sd2e/design/UWBF_7373/1
example output: htt

[2018-09-12 18:50] mwes opened #37 "Add a wrapped query for a strain's input state"
I am currently issuing a SPARQL query to get the circuit type from a given strain in SBH:

https://gitlab.sd2e.org/sd2program/etl-pipeline-support/blob/develop/formats/common.py#L237

query = """
select distinct ?o where {{ <{}> <http://purl.org/dc/terms/title> ?o }}""".format(strain)

example input: https://hub.sd2e.org/user/sd2e/design/UWBF_7373/1
example output: UWBF_AND_10
From which we parse

[2018-09-12 21:00] nroehner commented on #37
I just added a wrapped version of the query that I originally shared with Dan. The method is named "query_gate_input_levels". Please give it a whirl and let me know what you think. I haven't added any additional formatting options yet.

[2018-09-14 20:08] bbartley commented on #36
@mwes Hi Mark, will this work for you?
[code]

[2018-09-17 11:37] mwes commented on #36
@bbartley great - thanks! I will adjust to this and Nic's query and resolve both issues today.

[2018-09-18 19:55] mwes commented on #37
@nroehner thanks - finally working on integrating this. Is the idea that I can concatenate the input levels provided here?
[code]

[2018-09-18 22:45] mwes commented on #37
https://gitlab.sd2e.org/sd2program/etl-pipeline-support/merge_requests/32 makes use of this - appears to work as expected. Thanks Nic!

[2018-09-18 22:45] #37 closed

[2018-09-18 22:45] mwes commented on #36
https://gitlab.sd2e.org/sd2program/etl-pipeline-support/merge_requests/32 makes use of this - appears to work as expected. Thanks Bryan!

[2018-09-18 22:45] #36 closed

[2018-09-18 22:48] mwes opened #38 "query_designs_by_lab_ids output issues"
Filing an issue from Slack conversation here. https://sd2e.slack.com/archives/CAF2AMJ6L/p1537310420000100

cc: @nroehner @bbartley

Note: This may not be an actual SBHA issue, but an issue with the program dictionary entries. If there is a better place to file an issue for that, let me know.

I am seeing some new issues with the SBHA query `query_designs_by_lab_ids` which provides dictionary mappi

[2018-09-20 16:19] nroehner commented on #37
Yes, you can concatenate the input levels, but I don't think the order in which they appear is necessarily conserved, so you might also want to consider the input IDs when deciding how to order the different input combinations for a particular type of gate. In your example, these are pADH1:RGR-r2 and  pGRR-r5:RGR-r1, so you might choose to put the level for pADH1:RGR-r2 first and the level for pGR

[2018-09-20 16:27] nroehner commented on #37
I'm not sure if there were canonical orderings for each gate type (i.e. pADH1:RGR-r2 before pGRR-r5:RGR-r1 for all AND strains), but I don't think it should matter so long as we pick one ordering and are consistent in applying it for all gate strains of a particular type.

[2018-09-20 16:53] mwes commented on #37
Do you have a suggestion for how to encode this? Currently I am running:
[code]

[2018-09-21 13:11] #38 closed

[2018-09-21 13:11] mwes commented on #38
Dictionary issues fixed. Thanks gents!

[2018-09-24 23:32] danbryce opened #39 "Yeast Gates Strains Constant"
It seems the yeast gates strains have moved to `https://hub.sd2e.org/user/sd2e/design/yeast_gates_strains/1`.  I was using this constant https://github.com/SD2E/synbiohub_adapter/blob/a923e83b36d36d7c433bbf31a68f251f476d18a3/synbiohub_adapter/SynBioHubUtil.py#L57, but there is no constant for this new location in synbiohub_adapter.

[2018-09-24 23:51] danbryce commented on #39
PR at #40

[2018-09-25 17:33] nroehner commented on #39
Hi Dan,

I've merged the pull request. By the way, the yeast gates strains are still in the yeast gates design collection, but they are now also in the sub-collection called yeast gates strains. We created this sub-collection to make it easier for us to download the yeast gates strains as we begin to curate metadata on their circuit interactions.

[2018-09-25 17:35] danbryce commented on #39
Thanks.  I think the original collection is missing some of the strains.  I was having issues yesterday and found what I needed in the new collection.

[2018-09-27 14:46] nroehner commented on #39
Hi Dan, do you remember which query you were using? I ran the query_design_set_gates method alternately with YEAST_GATES_DESIGN_COLLECTION and YEAST_GATES_STRAINS_COLLECTION as the collection argument and got the same results. Thanks!

[2018-10-04 18:44] zachzundel opened #41 "Improve CI"
Improve the test python to validate results of queries, then put into a Jenkins instance.

[2018-11-06 14:06] mwes opened #43 "query_gate_input_levels output ordering issues"
Lab trace conversion code makes use of two SBHA functions:

1) query_designs_by_lab_ids: to retrieve a SBH URI for a given internal lab id (from the program dictionary)
then
2) query_gate_input_levels for a given SBH, to look up its input levels

The combined output across these two functions will look like the following:

[code]

The converter reads the input state according the ordering of the b

[2018-11-06 14:19] mwes opened #44 "Builds of synbiohub_adapter should trigger rebuilds of https://github.com/SD2E/base-images"
The SD2E python base-images natively integrate the SBHA. In particular `docker pull sd2e/reactors:python3-edge`

When the SBHA adapter is updated on its master branch (ideally through a passing pull request run through CI (`http://jenkins.sd2e.org/job/synbiohub_adapter/`) we should trigger a rebuild and push of the base-images.

This way the latest passing version of the SBHA is automatically inte

[2018-11-06 17:05] jakebeal commented on #43
Can we reconsider using the canonical ordering suggestion that I had made before, in which inputs are sorted by their identifiers (e.g., lexicographically)?  This sort of issue is what it was intended to deal with.

[2018-11-06 17:51] mwes commented on #43
Sure, if that will work. I don’t have a strong opinion on how this is implemented. The requirement is that the computer interpretable input_levels function return from SBHA matches the human-interpretable label. I’m not doing any special interpretation after I call the function, so the expectation is that this will be handled within the adapter.

[2018-11-07 19:46] mwes commented on #43
From the discussion at the Data Representation scrum Tuesday, November 7, 2 PM EST we determined a path forward:
- Input levels will be sorted by the SynbioHub Adapter using consistent lexicographic ordering.
- Any discrepancies noted in the label URIs will be manually corrected (00 and 11 states will not need changes, obviously).

[2018-11-13 19:47] nroehner commented on #43
The following commit adds lexicographic ordering to query_gate_input_levels when it is called for a single gate:

0194bad518e7ede7a615889291aa790ac4979407

[2018-11-14 21:48] mwes opened #45 "Cannot query for UWBioFab Strains"
I am seeing an issue where:

1) There is an entry in the dictionary:

![image](https://user-images.githubusercontent.com/5033275/48514735-0fbcbd80-e82d-11e8-8258-db22abdc7f5e.png)

2) When we query for it through the SBHA adapter (from lab trace converter code), no mapped entry returns.

This can be confirmed with the following query, which views all of the mappings for UWBF. A mapping for "23377"

[2018-11-15 02:11] mwes commented on #45
Confirmed resolved by @bbartley https://sd2e.slack.com/archives/GE36KRNUQ/p1542241677002000

Thanks!

[2018-11-15 02:11] #45 closed

[2018-12-06 23:00] jakebeal opened #46 "Query strains per challenge problem"
Per @breecummins :

Can you please set up a query that can pull the map of each challenge problem design collection to the associated strains?

[2019-01-09 16:41] nroehner opened #47 "Add Assertions to Test Queries in Test_SPARQLQueries.py"
Each method in Test_SPARQLQueries.py tests a particular query method supported by synbiohub_adapter. These test methods each need to be extended with some kind of assertion that checks for the expected result of the query and throws an appropriate error if this expectation is violated.

[2019-01-09 16:45] nroehner opened #48 "Run Test_SPARQLQueries.py in Jenkins Instance"
Run the test query methods in Test_SPARQLQueries.py in a Jenkins instance on a daily basis.

[2019-01-09 16:47] nroehner commented on #41
Superseded by issues #47 abd #48.

[2019-01-09 16:47] #41 closed

[2019-01-16 18:13] mwes opened #51 "Request for SBHA to retry SPARQL Queries"
Can we have SBHA retry SPARQL queries in case of connectivity or other (potentially non-deterministic) issues? Some sort of max-retry, as well as backoff is likely a good idea so we don't retry-hug ourselves to death. Here is an example failure trace from the perspective of the caller calling
`query_designs_by_lab_ids`

Let me know if you would like more information.

[code]

[2019-01-30 17:30] tcmitchell opened #53 "IndentationError on import"
As in #32 an indentation error prevents using the current synbiohub_adapter (at commit 23c7c55db45ec0a88644089c9cfcdd10bb17672d). It looks like there is mixed indentation in the file synbiohub_adapter/SynBioHubUtil.py which may be a root cause. As indicated in #32, space is the canonical indentation, and tabs should not be used.

This issue prevents the use of synbiohub_adapter altogether because

[2019-01-30 18:49] nroehner opened #54 "Get Password for Query Tests from Environment Variable"
Now that all queries use the secure SynBioHub SPARQL endpoint, our tests need to supply a legitimate username and password. Currently, the username is hardcoded in the tests and the password is obtained from the user using getpass, but these should probably both be obtained from appropriate environment variables.

[2019-01-30 19:36] bbartley commented on #53
Commits adff856a29d9861e4cdeb571caac7729cc57744a and af195035fbe9a2243174f12a1f2c537c2c350eed should fix the indentation problem, but don't immediately solve the failing tests.  Nic's subsequent commits will update the tests to support secure SPARQL queries

[2019-01-30 19:36] #53 closed

[2019-01-30 19:37] bbartley commented on #54
Implemented in fbcf46911ead092458b30c95833262ba18067f8b

[2019-01-30 19:37] #54 closed

[2019-01-30 22:01] jakebeal commented on #48
Assigning to @zachzundel (once he's in the group) to do this in travis-ci instead

[2019-01-30 22:14] zachzundel commented on #48
Assigned myself!

[2019-01-31 21:22] zachzundel commented on #48
So #55 puts this on Travis and #56 fixes the Jenkins configuration. You can pick which one (or both!) you prefer. Jenkins currently runs on push but could be configured to run on time intervals.

[2019-01-31 22:06] jakebeal opened #57 "Prune stale branches"
This repository has a lot of stale branches.  @nroehner : any objection to me pruning them?

[2019-01-31 22:08] jakebeal commented on #48
Honestly, either or both are fine: we just need to stop driving without guardrails.  Can you please add "build badges" for them to the README so that we can see & click on the front page trivially?

[2019-02-01 14:55] mwes commented on #44
This would be useful to resolve going forward - there's been a lot of good work with the adapter recently, but we want to make sure those code changes make it into the base image that everything else in the program uses: reactors, applications, etc. Given that the Jenkins build is working now, it's likely a minor lift to get this to trigger the next desired step of rebuilding the base images.

[2019-02-01 14:58] jakebeal opened #58 "Switch to GitFlow"
We've been running this unstructured long enough: we need to officially mark a 1.0 release, create a develop branch, and start using GitFlow to manage development

[2019-02-01 15:42] zachzundel commented on #44
I could take this on. It is not quite the same as SBH deployment, but it is easier. I can also help you set up a protected master branch so that all changes have to go through PRs, which you can require to be reviewed or pass CI before they can merge.

[2019-02-01 15:46] zachzundel commented on #44
I've configured the synbiohub_adapter Jenkins to trigger base-images-build when it succeeds. @mwes / @mwvaughn is this the right path?

[2019-02-01 15:48] mwes commented on #44
👍 to "set up a protected master branch so that all changes have to go through PRs, which you can require to be reviewed or pass CI before they can merge." We've had some build breakages here, and don't want to build images that have SBH code that will fail when run

[2019-02-01 15:49] mwes commented on #44
@mwvaughn should we just change the job to run ```make languages``` (etc.) instead of ```make-languages-build``` and other variants ? That seems like it would do it.

[2019-02-01 15:56] jakebeal commented on #44
@mwvaughn @zachzundel I'd anticipated that need with #58, though I hadn't assigned it to anybody yet.  It's definitely time to professionalize our development of this tool.  If #58 gets resolved as a byproduct of this, so much the better.

[2019-02-01 16:00] zachzundel commented on #44
I _think_ the configuration change I made to `synbiohub_adapter` Jenkins should be enough to close this issue. Moving discussion of protected branches to #58 .

[2019-02-01 16:02] zachzundel commented on #58
The GitHub configuration we have for SynBioHub is the following:
 - pushing to `master` is entirely disabled
 - all pull requests must pass CI and have at least 1 approving review

[2019-02-01 16:03] zachzundel commented on #44
Actually, now that I think about it, we probably need to gate the trigger for the other pipeline to only changes to the master branch of `synbiohub_adapter`.

[2019-02-01 16:06] mwes commented on #44
Thanks - FYI that job looks like it builds the images, but I don't believe it currently pushes them. Once we can confirm the images are being built and pushed, we can close this.

[2019-02-02 11:56] jakebeal commented on #48
@zachzundel With #55 merged, are we good to close this issue?

[2019-02-04 21:38] mwes commented on #43
Confirm fixed.

[2019-02-04 21:38] #43 closed

[2019-02-04 21:51] mwes opened #59 "synbiohub_adapter dictionary write support"
synbiohub_adapter currently supports reading dictionary values that are stored in SBH through the function call `query_designs_by_lab_ids` https://github.com/SD2E/synbiohub_adapter/blob/master/synbiohub_adapter/query_synbiohub.py#L1087

This function allows pythonic consumers of SBH to easily check if a mapping is available in SBH (mediated through the dictionary). It would be extremely useful to

[2019-02-06 17:02] bbartley opened #60 "Test for Python code style"
As suggested by @tcmitchell, we should add a test that enforces Python code style using ‘pycodestyle’.  More information about pycodestyle is available at https://pypi.org/project/pycodestyle/ and the guidelines it checks are based on https://www.python.org/dev/peps/pep-0008/

We can adjust certain parameters, like max line length, to suit our desires.  Using 120 as the max instead of 80 will sati

[2019-02-06 18:36] dsumorok-raytheon commented on #59
This work will be done in the SD2-Librarian repository.  The ticket has been moved to https://gitlab.sd2e.org/sd2program/SD2-Librarian/issues/72.

[2019-02-06 18:36] #59 closed

[2019-02-06 18:39] mwes commented on #59
@dsumorok-raytheon can you clarify? To be clear, we're requesting python support through the synbiohub_adapter. Will https://gitlab.sd2e.org/sd2program/SD2-Librarian/issues/72 achieve that?

[2019-02-06 19:21] dsumorok-raytheon commented on #59
We felt that, since this library wraps an interface to the spreadsheet, and by itself does not access synbiohub, this library fits better in the Librarian repository.  This library will still be a python library, and will be completely independent from the java-based Dictionary application.

[2019-02-06 19:49] mwes commented on #59
Got it. Thanks!

[2019-02-08 14:17] mwes opened #63 "Request to query strains with a given plasmid, then retrieve sequences"
Per discussion here: https://sd2e.slack.com/archives/C5W4Y826Q/p1549579295335000

@dvnstrcklnd would like to:

"Find strains and plasmids from YS and audit them"

e.g. "I want to find all strains with `YG_plasmid_010` and then get all the plasmids from those strains, then get all their sequences and componens..."

[2019-02-11 20:51] #60 closed

[2019-02-19 16:24] mwes opened #64 "Find and correct gate labels vs input states"
Some strains are annotated with labels that don't match the input states returned from SBH. Here is an example:

[code]

This produces a consistent "01" ordering:

[code]

However, this strain is annotated as UWBF_NOR_10. This is confusing some TA1 consumers. Can we find and correct the labels of these entries in SBH?

[2019-02-19 17:08] jakebeal commented on #64
Handled; of the six gates, only OR and NOR appear to have been affected.

I'm leaving this open until the dictionary updates propagate to SynBioHub.

[2019-02-19 17:26] jakebeal commented on #64
Updates are propagated.

[2019-02-19 17:26] #64 closed

[2019-02-21 14:59] nroehner commented on #63
@dvnstrcklnd @mwes The master branch has now been updated with new versions of the query_design_strains method and query_design_plasmids method in query_synbiohub.py. I'm currently trying to figure out how to make these available in TACC's Jupyter Notebook environment, but below is some example to code to try out with a local installation of synbiohub_adapter. DM me on Slack if you do not know the

[2019-02-21 19:58] dvnstrcklnd commented on #63
Thanks. This is super helpful. I think identifying key methods like this and putting them into some examples would go quite a long way. I don't have a local installation, so I'll wait until the update gets pulled to TACC.

[2019-02-25 16:24] mwes opened #68 "Critical regression in query_designs_by_lab_ids"
Gents:

I need to use the latest SBHA given that the query endpoint changed on Friday. However, the previously working
`query_designs_by_lab_ids` function no longer works. This breaks all conversion/dictionary lookup processes. There was previously a test for this, but it looks like it was commented out. The following will reproduce the issue locally:

[code]

Traceback (most recent call last):

[2019-02-25 16:43] mwes commented on #68
Update: is this returning HTML somehow!?
[code]

[2019-02-25 16:45] mwes commented on #68
The other tests work - so it's not an authentication issue:
[code]

[2019-02-25 16:54] mwes commented on #68
Nevermind - those other tests do an explicit login call now - this is new. I assume this is by design? We can’t do open reads anymore?

[2019-02-25 17:00] mwes commented on #68
Closing.

[2019-02-25 17:00] #68 closed

[2019-02-25 17:02] jakebeal commented on #68
Just to record the full information here: requiring login is part of making sure people can't access private parts of the backing Virtuoso database without permission. This is intentional and a good thing, but does mean that code that used to be evading login now has to do login.

[2019-02-25 17:16] mwes opened #69 "Enhancement request: Clearer feedback on authentication errors"
Given that SBHA now checks for an authentication key and a user, but will attempt to run queries anyways if they are not present, I suggest a clearer error message be returned. Essentially an else clause around:

https://github.com/SD2E/synbiohub_adapter/blob/master/synbiohub_adapter/SynBioHubUtil.py#L179

for the conditions when authentication hasn't been performed yet. Currently the SPARQL query

[2019-02-26 21:15] mwes opened #70 "query_gate_input_levels calls non-existant function "sorts_query_result", causing input level dictionary queries to fail"
This results in the input level query for a strain failing. This is a high priority fix, as it breaks all dictionary queries that involve input levels on circuits (essentially all of YeastStates).

At some point this call got changed to "sorts_query_result" from "sort_query_result": https://github.com/SD2E/synbiohub_adapter/commit/0b4c112510637a413ea0187f9e77199aa5595882#diff-d3a47ef90304fe17ea3bd

[2019-03-04 02:03] bbartley commented on #69
This is related to SynBioHub issue: https://github.com/SynBioHub/synbiohub/issues/858
Currently Synbiohub redirects back to the home page when a user makes an unauthorized request (hence the HTML you received).  Once the above issue gets resolved, SBHA can simply pass the 401 along to the user.  Until then, we may need to implement some kind of stop gap solution.

[2019-03-04 19:01] #70 closed

[2019-03-11 16:24] tcmitchell commented on #13
The [Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/) says [spaces are the preferred indentation method](https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces).

[2019-03-12 12:05] tcmitchell commented on #44
What is the status of this issue? There have been no updates since Feb 1.

* Is pushing to master disabled?
* Are pull requests _required_ to pass tests prior to merge?
* Are pull requests _required_ to be reviewed prior to merge?
  * If so, who are the designated reviewers?

[2019-03-12 12:15] tcmitchell opened #73 "Add a __version__ variable"
Allow programmers to inspect the version of synbiohub_adapter they are using. Add a [__version__](https://www.python.org/dev/peps/pep-0008/#module-level-dunder-names) variable to the package.

[2019-03-12 12:16] tcmitchell opened #74 "Pin dependency versions"
Wherever it makes sense, pin a version number in setup.py so that synbiohub_adapter naturally picks up the right versions of other packages.

[2019-03-12 12:19] tcmitchell opened #75 "Set up versioning"
Add documentation describing how to make a release.

* How to tag the code using an annotated tag
* How to bump the version number and prep for the next version
* How to build the package and make it available for use

[2019-03-12 12:34] tcmitchell opened #76 "Determine fate of elastic.py"
Does elastic.py work? A quick read of the code, particularly the nested function `extract_uri_parts` says probably not.

Should the code be retained? If so, add some documentation about its purpose.

Neither function defined in elastic.py is called from elsewhere in the package. These functions could be used by external code though. Unless they flat out don't work.

[2019-03-12 12:36] tcmitchell commented on #76
If this code is retained, change the indentation from two spaces to four spaces so it matches the rest of the package.

[2019-03-12 14:43] #13 closed

[2019-03-12 16:06] mwes commented on #44
@tcmitchell let me check with Matt on the image building; this should likely only require a minor change to the Jenkins job. While related, it looks like this issue got looped into some CI / build restriction issues. I would separate these out as their own issue / discussion. e.g. if Jenkins is configured to build on any push to master, the restrictions around those pushes are not directly relevan

[2019-03-12 17:14] tcmitchell opened #79 "Eliminate trailing whitespace"
Use `sed -i 's/[[:space:]]*$//' FILENAME` to eliminate trailing whitespace (pycodestyle warning 291). Add a test to ensure that pycodestyle detects no trailing whitespace so that trailing whitespace cannot be introduced in the future.

[2019-03-12 17:40] tcmitchell opened #81 "Configure repository management"
We should change the repository management to have better control over the branches and merging of pull requests.

- [x] Disable pushing to `master` (and `develop` when it arrives)
- [x] Require pull requests to pass unit tests before merge
- [ ] Require pull requests to be reviewed prior to merge
- [ ] Configure a [CODEOWNERS](https://help.github.com/en/articles/about-code-owners) file to constra

[2019-03-12 17:41] tcmitchell commented on #44
Repository management items have been moved to #81

[2019-03-12 17:52] mwes commented on #44
Great, thanks @tcmitchell

[2019-03-12 19:29] tcmitchell commented on #76
`elastic.py` was originally written in Feb. 2018 and does not run because the encoded elastic search host is no longer available. No externally provided elastic search server is available for the project. Additionally, SBOLExplorer will provide elastic search results.

[2019-03-12 19:58] #76 closed

[2019-03-13 12:27] tcmitchell opened #83 "Document lack of Python 2 compatibility"
The code as it stands is not compatible with Python 2. It is easy to fix though.

How important is Python 2 compatibility?

* If it is important, verification of Python 2 compatibility should be built into the tests.
* If it is nice to have, let's make the change but not worry about verification. Or make a verification determination when making releases.
* If it is not important, or even undesirab

[2019-03-13 12:29] tcmitchell commented on #83
I'd like to hear feedback from at least 2 of @bbartley, @jakebeal, and @nroehner. @mwes is probably also an interested party and is encouraged to comment. Should anyone else be asked for input?

[2019-03-13 13:46] tcmitchell commented on #83
Digging a little further, there are plenty of occurrences of `print()`, and occurrences of `from __future__ import print_function`. That leads me to believe that more of the code is incompatible with Python 2 and is simply not covered by the current set of unit tests.

Is there any objection to declaring the library incompatible with Python 2?

[2019-03-13 15:00] jakebeal commented on #83
I seem to recall that something else may have already forced us to give up on Python 2 compatibility, but am not sure what it was.

[2019-03-13 16:06] bbartley commented on #83
Hi all, since TACC environments primarily support Python 3, I would recommend consciously aiming to support Python 3.  I have often found myself working on development code for SD2 that has Python 2 and Python 3 conventions intermixed, and would like a clear guideline as well.

[2019-03-13 16:16] mwes commented on #83
Yes - general SD2 program (and overall linux positioning) has to been to use python3 for all new work. I have no issues with declaring this python2 compatible.

[2019-03-13 16:18] mwes commented on #83
@jakebeal you are probably thinking of this: https://sd2e.slack.com/archives/C5UF779PD/p1522088944000001

[2019-03-13 18:40] tcmitchell commented on #83
@mwes did you mean _in_compatible? You have no issues with declaring this python2 _incompatible_?

[2019-03-13 18:42] #73 closed

[2019-03-13 18:42] #74 closed

[2019-03-13 19:01] jakebeal commented on #83
I'm pretty sure that's what he meant.

[2019-03-13 20:29] tcmitchell commented on #79
Closed by #80

[2019-03-13 20:29] #79 closed

[2019-03-13 21:29] mwes commented on #83
Oh yes, my apologies.

[2019-03-14 14:04] tcmitchell commented on #83
Resolving this issue is a matter of documentation. I don't think there is a rush to do so. Information about the lack of Python 2 compatibility can be added to [README.md](https://github.com/SD2E/synbiohub_adapter/blob/master/README.md)

[2019-03-14 14:29] tcmitchell commented on #75
Closed by #84

[2019-03-14 14:30] #75 closed

[2019-03-14 15:27] tcmitchell commented on #57
Here are the branches and a description of each:

| branch | description |
| ----- | ----- |
| filter_request | pull request #50 |
| fix-resource-uri | pull request #66 |
| large_upload | pull request #10 |
| queryDNA | live branch awaiting pull request |
| refactorTest | Outdated branch from April 2018 with a single line change in a file comment |

[2019-03-14 15:30] tcmitchell commented on #57
I have deleted branch `refactorTest`.

The other four branches are still live. I have updated each open pull request to ask the participants what the status is. As these pull requests are handled we will either merge or delete the branches.

I think this issue is complete. Please reopen if there is more to do.

[2019-03-14 15:30] #57 closed

[2019-03-18 18:42] tcmitchell commented on #58
This is complete:

* [1.0](https://github.com/SD2E/synbiohub_adapter/releases/tag/v1.0) has been released
* The `develop` branch is now the default branch. All pull requests use `develop` as the base branch by default.
* Git Flow is now [documented](https://github.com/SD2E/synbiohub_adapter/blob/develop/CONTRIBUTING.md) as the workflow model
* Pushing directly to both master and develop is disable

[2019-03-18 18:42] #58 closed

[2019-03-22 16:50] tcmitchell commented on #69
@mwes Do you have a test case for this? It looks like the underlying SynBioHub issue has been fixed. When authentication fails in `SBOLQuery.login` a `SPARQLWrapper.SPARQLExceptions.Unauthorized` is raised. I don't know if this is a change to the SD2E SynBioHub instance since this issue was created. If you had a test case, I could work with it to verify that authentication errors are properly repo

[2019-03-22 17:04] mwes commented on #69
@tcmitchell any test process that omits the "login" step should be sufficient, that's what originally caused the issue with the returned HTML. e.g.
[code]

[2019-03-22 17:26] tcmitchell commented on #69
Your description suggests detecting the lack of authentication prior to executing the query. That would be the else clause you suggest.

An alternative is to let the query go through and detect the lack of authentication based on the result from the query. The query returns a byte string of HTML if there is no authentication.

Do you have a preference? My inclination is to go with the latter becau

[2019-03-22 17:38] mwes commented on #69
Good point. As we _did_ have a SBH configuration at some point without auth, the latter solution makes sense. If might require some verification against the return HTML, or an assumption, as you note. I'm not sure what SBH's behavior is. Maybe Chris Myers or Zach can confirm?

[2019-03-22 17:45] bbartley commented on #69
Hi @tcmitchell

I am pretty sure this is a safe assumption.  Otherwise, the endpoints either return RDF/XML or json.

[2019-03-22 17:48] tcmitchell commented on #69
@mwes The result without authentication is the SynBioHub home page, exactly. Not indication that there was an authentication issue.

@bbartley Thanks! I'll implement an appropriate check on the results of the query, and if the results look like an HTML bytes string, I'll raise a `SPARQLWrapper.SPARQLExceptions.Unauthorized` exception. That matches the behavior when the `SBOLQuery.login` method fai

[2019-03-22 19:10] tcmitchell commented on #51
TACC's [bacanora](https://github.com/SD2E/bacanora) uses [tenacity](https://github.com/jd/tenacity) for retrying calls. It seems like that would be a good fit here.

Some questions:

* Is there a repeatable test case that can help determine the accuracy of an enhancement?
* Is there a range of synbiohub_adapter methods where this should be implemented? Or just in `fetch_SPARQL()`?
* Are there cert

[2019-03-22 21:44] #69 closed

[2019-03-25 15:25] mwes commented on #51
Thanks, Tom.

Tenacity seems like a good choice.

1) This issue was filed in relation to a new SBH deploy that was non-deterministically failing  on certain queries. This was believed to be due to load issues on the host. TACC made some improvements to the hosts resources and the the issue "went away", but this doesn't mean that under some conditions SBH will fail on certain queries. A heavy load

[2019-03-26 17:17] tcmitchell commented on #63
Is this issue complete? Was this work done by #67? Should this issue be closed?

[2019-03-26 17:19] mwes commented on #63
(I was just the middleman on this request, I'll leave it to @nroehner and @dvnstrcklnd to confer and close)

[2019-03-27 16:06] tcmitchell commented on #81
We have elected not to include reviews as a requirement on pull requests. Pull request authors can still request reviews and should probably let reviewers know if there are any specific questions they have, or particular things they want reviewed.

[2019-03-27 16:06] #81 closed

[2019-03-27 16:07] #51 closed

[2019-03-28 16:48] mwes opened #91 "Cannot install synbiohub_adapter on OSX"
pysbol issue?

[code]

[2019-03-28 17:00] tcmitchell commented on #91
Hmmm. It just worked for me. What OS are you using? What version of Python3? What version of pip?

I'm on Ubuntu 18.04 (bionic). I'm using the stock Python 3.6.7.

Instead of running "pip3" (or in your case "pip"), I ran `python3 -m pip install ...`

I also see pySBOL 2.1.3.post6 on PyPI: https://pypi.org/project/pySBOL/#history

[2019-03-28 17:13] mwes commented on #91
OSX, Python 3.6.4

[2019-03-28 17:21] mwes opened #92 "synbiohub_adapter install breaks on latest pip (19.0.3)"
Well, they did warn it was deprecated! Suggestions? Is there a frozen pip version I should target? Or could we update the install to work on newer pip versions?

[code]

[2019-03-28 17:28] mwes commented on #91
That wheel only looks to have: ```cp36-none-manylinux1_x86_64```

[2019-03-28 17:29] bbartley commented on #91
There's no post6 for MacOSX.  If installing on Mac, synbiohub_adapter should probably just default to installing the most recent wheel.  Linux wheels are a little more tricky, so these need to be tied to a specific post

[2019-03-28 17:45] tcmitchell commented on #91
What if there is a change in one of the pysbol postX versions that is required for a new feature in synbiohub_adapter? I don't see a way to tell what has changed between the pysbol postX versions, is there an indicator somewhere? Like on the PyPI page? I don't see tags corresponding to these postX versions.

We could declare the dependency on pysbol to be "pysbol>=2.3.1", and get the latest postX

[2019-03-28 18:00] tcmitchell commented on #91
The most recent version of pySBOL that is compatible with both Linux (specifically x86_64 Ubuntu 18.04) and macOS is "2.3.0.post12". I will try to install that and see if the tests pass. Is that the version we should standardize on?

If not, we know for sure that Mac users and Linux users will be using different versions of pySBOL, which seems like a recipe for problems.

[2019-03-28 18:02] tcmitchell commented on #91
2.3.0 lacks authentication. It's a non-starter. @bbartley please advise.

[2019-03-28 18:04] mwes commented on #91
I agree on normalizing on the same pySBOL version

[2019-03-28 18:23] bbartley commented on #91
Normalizing on the same version is fine (2.3.1), but it is not advisable to normalize on the same post across different platforms.  It's probably kludgey, but the setup.py script can be tailored to install different posts conditionally depending on which platform.

[2019-03-28 18:33] mwes commented on #91
@bbartley curious - why is not advisable to normalize on the same post across different platforms?  I don't know how your release process works. Is there behavior in those releases that is platform specific?

[2019-03-28 19:02] tcmitchell commented on #91
We can specify the dependency as "pysbol>=2.3.1" so that each platform gets the latest .postX version for that platform. @bbartley are you saying there are no substantive code changes between the various postX versions of the pySBOL package? If that's the case, I'm comfortable with the "pysbol>=2.3.1" dependency.

[2019-03-28 19:04] bbartley commented on #91
One of the big differences between Linux posts is the underlying build configuration, not the source code.  There's customization that I have to do, depending on which Linux system I'm targeting.  So, 2.3.1post1 and 2.3.6post6 have the same underlying source, but one works on Ubuntu and the other one works on CentOS.  I think the source on these is essentially the same as 2.3.0post0 for Mac.

Anot

[2019-03-28 19:20] tcmitchell commented on #92
For now, please use something like pip 9.0.1. In #91 you indicated you were using pip 9.0.3, which should be fine.

Meanwhile, I'll take a look at getting something compatible with more recent pips. This may require @nroehner's queryDNA branch that he says removes the dependency on [pySBOLx](https://github.com/nroehner/pySBOLx) which is the dependency link in `setup.py`.

[2019-03-28 19:32] mwes commented on #92
Confirm pip 9.0.3 works fine. This solution work fine for me for now; TACC builds also freeze their pip version to this. So a lower priority on this, but eventually will need to be address if anyone upgrade their pip.

[2019-03-28 20:44] tcmitchell commented on #91
I think the proper resolution to this is to change the dependency to `pysbol>=2.3.1`. Having now read the [description of post releases](https://www.python.org/dev/peps/pep-0440/#post-releases), that seems like a reasonable way to go.

I do detect a code difference between 2.3.1.post0 and 2.3.1.post6. It's minor, and may be related to the underlying build.

I also see commits in the 2.3.1 releases

[2019-03-29 12:09] #92 closed

[2019-03-29 13:03] #91 closed

[2019-04-05 14:28] tcmitchell commented on #63
Let's not close issues without comment. Let's instead communicate to users and future programmers why and how something was addressed, or why it won't be addressed. I'm reopening to allow @nroehner to explain why this was closed. Feel free to close with that explanation.

[2019-04-09 16:03] nroehner opened #99 "Remove dependency on pySBOLx"
Currently pySBOLx is only used by generate_sbol.py, which we would also like to remove from synbiohub_adapter. Unlike the rest of synbiohub_adapter, generate_sbol is focused on encoding complex, domain-specific SBOL patterns, rather than uploading or retrieving SBOL.

[2019-04-09 16:10] nroehner opened #100 "Extend query_design_set_dna with Roles Parameter"
Extend query_design_set_dna method with a "roles" parameter to retrieve from specified SynBioHub collections only those DNA constructs with the specified functional roles. This is necessary to match the arguments list for query_design_dna, which already has a "roles" parameter.

[2019-04-09 16:18] nroehner commented on #63
This issue was addressed by #67. There are examples of using the new query methods in shared Python notebooks on the SD2 Jupyter environment (nroehner-novel_chassis_queries and nroehner-yeast_states_queries).

I will post examples of the code and a link to the README for shared notebooks in the SD2 Jupyter environment once the latter is back up (I'm currently getting a 500 : Internal Server Error

[2019-04-09 17:47] nroehner opened #101 "Update upload_sbol to Support Secure SPARQL Endpoint Login"
The usage of SynBioHubQuery in upload_sbol needs to be updated to support the new login API associated with using SynBioHub's secure SPARQL endpoint.

[2019-04-09 18:26] nroehner commented on #63
This issue was addressed by #67. There are examples of using the new query methods in shared Python notebooks on the SD2 Jupyter environment (nroehner-novel_chassis_queries and nroehner-yeast_states_queries). The README for shared notebooks is available at

https://github.com/SD2E/sd2nb-app/blob/master/README.md

The yeast_states_queries notebook is also available on GitLab at

https://gitlab.sd2e

[2019-04-09 18:26] #63 closed

[2019-04-10 15:26] tcmitchell commented on #99
Closed by #95

[2019-04-10 15:26] #99 closed

[2019-04-10 15:27] tcmitchell commented on #100
Closed by #95

[2019-04-10 15:27] #100 closed

[2019-04-10 19:57] #83 closed

[2019-04-12 14:48] tcmitchell opened #103 "SBOLQuery fails hard on bad arguments"
If you pass a URI instead of a list of URIs to `SBOLQuery.query_collections()` a bad SPARQL query is generated and SynBioHub returns a 500 error code and the not so helpful message "Error: Cannot resolve relative IRI h because no base IRI was set." The same probably holds for other methods as well, since lots of them want lists and really can't handle singleton items.

It would be good to test arg

[2019-04-12 20:03] mwes opened #104 "Add re-try logic to login (Error 502, Bad Gateway)"
This is related to: https://github.com/SD2E/synbiohub_adapter/issues/51 and https://github.com/SD2E/synbiohub_adapter/pull/90

I recommend we add similar re-try logic to the login function. George's FCS jobs are showing some non-deterministic failures. I've had a few (4) converter runs fail as well:

[Kibana Query](https://kibana.sd2e.org/app/kibana#/discover/a44c7140-5c6b-11e9-bfca-df959f1d6037?_

[2019-04-17 12:28] #104 closed

[2019-05-22 00:47] mwes opened #106 "Request CalTech lab constant to process Biocon data"
The SD2E infra needs to pass a lab parameter to the SBHA mapping function `query_designs_by_lab_ids`

https://github.com/SD2E/synbiohub_adapter/blob/develop/synbiohub_adapter/query_synbiohub.py#L1104

The SBHA has nicely created constants for the existing labs that we use, here:

https://github.com/SD2E/synbiohub_adapter/blob/master/synbiohub_adapter/SynBioHubUtil.py#L70

Can you please add a cons

[2019-09-26 19:11] dashaveraksa opened #108 "Type Error when calling submit_to_collection function"
After doing:
[code]
I am attempting to submit a document as a subcollection to an existing collection on SynBioHub:
[code]
where projectURI is the URI of the existing collection I am trying to add to, and experimentID, experimentVersion, etc. are the ID and Version of the subcollection I am adding. However, I am getting this error:

  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/pyt

[2019-09-26 19:30] bbartley commented on #108
Hi Dasha
It looks like `submit_to_collection` expects a list of Documents, so try:

`sbh.submit_to_collection([doc],projectURI,0,False,False,experimentID,experimentVersion,experimentName,experimentDescription)`

[2019-09-27 20:02] dashaveraksa commented on #108
Thank you for the quick reply, I have tried that but now I am getting an AttributeError:

File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/synbiohub_adapter/upload_sbol/upload_sbol.py", line 101, in submit_to_collection
    submission_docs.append(self.__create_root_sub_collection_document(docs, collection_namespace, sub_collection_id, sub_collection_version, sub_

[2019-09-27 20:20] bbartley commented on #108
The error suggests that there is an object contained in your Document that is lacking an identity URI (not the Document itself).  How that might have happened, I'm not sure, unless it got overwritten somehow. In any case, you should see if you can find an object that does not have an identity:
[code]

[2019-09-27 20:28] bbartley commented on #108
Your Document is probably empty.

[2019-09-28 00:16] dashaveraksa commented on #108
Thank you, however when I try this it says the length of my doc is 229, and there are no errors when attempting to print the identity of each object. In fact, I am able to then upload everything using the submit_collection function, but the submit_to_collection function is still giving me errors.

[2019-10-10 20:46] dashaveraksa opened #109 "sbol-10608 uploading error"
I am trying to upload a document containing Measurement objects to SynBioHub but no matter what I have tried I keep getting the following error:
[code]
Do you know why this could be? I am using the submit_collection function and everything works well until I add the Measurement objects in.

[2019-10-14 16:45] mwes opened #110 "Request inverse of "query_designs_by_lab_ids""
Given a URI, Dan Bryce needs to resolve that URI back to the internal id a lab uses. The use case is telling a lab, e.g. Strateos to use a given strain in an experiment. Strateos, however, does not understand SD2 Common Names/URIs, but they do understand their internal identifiers. This is needed as part of XPlan/round-trip automation for Yeast States.

[2019-10-14 17:01] mwes commented on #110
Per request, an example inverse would be given the URI "https://hub.sd2e.org/user/sd2e/design/UWBF_6390/1" and "Transcriptic" as the lab, we would want this method to return "6390".

This is the inverse of the current query_designs_by_lab_ids which, given "6390" and "Transcriptic" resolves to the URI "https://hub.sd2e.org/user/sd2e/design/UWBF_6390/1"

[2019-10-14 19:42] tcmitchell commented on #110
[sbh-prospector](https://github.com/SD2E/sbh-prospector) can be used to do this lookup. Here's a function that uses sbh-prospector that looks up the info:

[code]

Example calls:

[code]

If you still want a function added to synbiohub_adapter we can write one.

[2019-10-14 19:46] mwes commented on #110
Thanks - what is the expected usage of sbh_prospector vs. synbiohub_adapter going forward? Should we be using sbh_prospector?

It would be good to wrap this in a common function, otherwise this snippet will need to be repeated in various codebases that want to do this e.g. XPlan. It also lets you hide the structure of the internals in case those ever change

[2019-10-14 20:17] tcmitchell commented on #110
I think sbh_prospector is for letting folks explore on their own, or write a quick query on their own as the example above demonstrates. No need to wait for a function to get added to synbiohub_adapter.

Your argument about making this a common function is a good one. I think of it in terms of promotion. A quick query can be written, then as it evolves into a commonly used function, it can be prom

[2019-10-15 19:31] #110 closed

[2019-10-16 18:23] mwes commented on #106
@tcmitchell I assume you want me to implement this, then? SD2 has some existing lab constants [1] we use for schema validation on samples documents. Could we use this in SBHA? We disagree on what to call UWBF, but we could handle that as a special case inside SBHA and use SD2 labs for everything else.

[1] https://schema.catalog.sd2e.org/schemas/lab.json

[2019-10-16 20:22] tcmitchell commented on #14
@bjkeller @mwes Is this task complete?

 I see [push_lab_plan_parameter](https://github.com/SD2E/synbiohub_adapter/blob/develop/synbiohub_adapter/upload_sbol/upload_sbol.py#L495) and [push_lab_sample_parameter](https://github.com/SD2E/synbiohub_adapter/blob/develop/synbiohub_adapter/upload_sbol/upload_sbol.py#L533) in [upload_sbol.py](https://github.com/SD2E/synbiohub_adapter/blob/develop/synbiohu

[2019-10-16 20:33] mwes commented on #14
This looks to be very old - back from an era where had we labs talking to xplans stored in SBH, which no longer happens. I suggest this is OBE and can be closed, unless @bjkeller thinks otherwise.

[2019-10-16 20:36] bjkeller commented on #14
I don't know

On Wed, Oct 16, 2019 at 1:24 PM Tom Mitchell <notifications@github.com>
wrote:

--
Ben Keller
Aquarium Project Lead
Klavins Lab
Department of Electrical and Computer Engineering
University of Washington
bjkeller@uw.edu          206-685-6726

[2019-10-16 20:46] mwes commented on #14
Ben, do you think labs are going to call back into plans stored in SBH, as mediated by xplan, anytime soon? I suspect not. In which case for simplicity we should just close this.

[2019-10-16 20:49] bjkeller commented on #14
Closing because related to different architecture.

[2019-10-16 20:49] #14 closed

[2019-10-16 22:29] tcmitchell commented on #106
@mwes Sorry, no. I assigned it to you to give you credit for fixing it in PR #107 , which I merged. Sorry it took so long, there's simply no excuse for that kind of delay.

I believe this is done, and there's a unit test that includes the new constant. Is there more that you think needs to be done?

[2019-10-16 22:33] mwes commented on #106
Ah no - I was confused. Thanks for addressing.

[2019-10-17 12:24] tcmitchell commented on #44
@mwes @3ach @jakebeal What is the status of this issue? I see [Jenkins base-images-build](http://jenkins.sd2e.org/job/Admin/job/base-images-build/) appears to get rebuilt when [synbiohub_adapter](http://jenkins.sd2e.org/job/synbiohub_adapter/) gets built. Does that match the goal of this task, and thus this task is complete?

[2019-10-18 20:59] #103 closed

[2020-09-01 17:17] georgebzheng opened #124 "Problem installing SBH adapter using pip 20.2.2"
Using pip 20.2.2 and 2020-resolver, we encountered the following error during the build for fcs-etl-application:
[code]

[2020-09-01 17:21] mwes commented on #124
FYI this is related to testing an upcoming change to pip and dependency resolution: https://pip.pypa.io/en/stable/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020

This change is targeted for October, 2020, so we are evaluating this resolver under the current SD2 packages to ensure we can maintain our builds.

[2020-09-01 17:32] mwes commented on #124
A follow up: This error is related to the latest version of setuptools (50.0.0): https://github.com/pypa/setuptools/issues/2355

Using setuptools 49.6.0 I confirmed this module resolves fine with the 2020-resolver.

[2020-09-01 18:17] #124 closed, assigned to nobody